.container{
    padding: 20px;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    
}
.title{
    margin-left: 8%;
    padding-top: 5%;
}
button{
    background-color: rgb(55, 156, 196);
    color: white;
    border: none;
    padding: 5%;
    width: 55%;
    border-radius: 5px;
}
input{
    width: 80%;
    padding: 2%;
}
.row{
    margin-left: 3%;
    padding: 1%;
}
.menu {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }

  .menu {
    display: grid;
    align-items: center;
    grid-template-columns: 70% 90%;
    margin-left: 5%;
    margin-top: 5%;
    width: 75%;
  }
  
/* Design to addExpert */

.content_addExpert {
    width: 25rem;
}
.content_titleAddExpert {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.content_AddExpertGeneraliste {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content_AddExpertGeneraliste label {
    font-size: 0.8rem;
    color: #009bac;
}

.content_titleAddExpert div span {
    font-weight: 600;
    color: #7c848b;
}

.content_btnAddExpert {
    margin-bottom: 3rem;
}

.content_btnAddExpert button {
    padding: 0.5rem;
    width: 11rem;
    background-color: #009bac;
}

.content_validerAddExpert {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content_validerAddExpert div select {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #7c848b;
    border-radius: 6px;
    color: #7c848b;
}

.content_twoBtnAddExpert {
    display: flex;
    justify-content: space-between;
}

.content_twoBtnAddExpert button {
    padding: 0.5rem;
    width: 9rem;
    background-color: #009bac;
}

.content_twoBtnAddExpert div:first-of-type button {
    background-color: #fff;
    color: #009bac;
    border: 2px solid #009bac;
}

.hiddenAddExpert {
    display: none;
}