<div class="title">
  <h1 class="titrePage" >Ajouter un expert</h1>
</div>

<section class="container">
  <div class="row">
    <!-- Bloc à gauche -->
    <div class="col-md-6">
      <div class="element">
        <div class="row">
          <div class="col">
            <span>Nom*</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>Prenom*</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prenom" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>Email*</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Email" />
          </div>
        </div>

        <div class="menu">
          <div class="content_addExpert">
            <div class="content_titleAddExpert">
              <div>
                <span>Expertise *</span>
              </div>
              <div class="content_AddExpertGeneraliste">
                  <label for="checkbox">Generaliste</label>
                 <input type="checkbox">
              </div>
            </div>
            <div class="content_btnAddExpert">
              <button class="" (click)="onButtonClickAddExpert()" *ngIf="isAjouterVisible">ajouter une expertise</button>
              <div class="content_validerAddExpert" *ngIf="isMessageVisible">
                <div>
                  <select name="" id="">
                    <option value="">Choisir une expertise</option>
                    <option value="">expertise 1</option>
                    <option value="">expertise 2</option>
                    <option value="">expertise 3</option>
                    <option value="">expertise 4</option>
                  </select>
                </div>
                <div class="content_twoBtnAddExpert">
                  <div>
                    <button type="button" class="">Annuler</button>
                  </div>
                  <div>
                    <button type="button" class="">Valider</button>
                  </div>
                </div>
              </div>
            </div> 
          </div>           
        </div>

        
      </div>

      <!-- <div *ngIf="parametre" class="element">
          <input type="hidden" id="idClient" [value]="parametreId">
          <div class="row">
            <div class="col">
              <span>Code CLient*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" id="codeClient" class="form-control" placeholder="Code Client" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>Domaine d'activité*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" id="businessArea" class="form-control" placeholder="Domaine d'activité" />
            </div>
          </div>
        </div> -->
    </div>

    <!-- Bloc à droite -->
    <div class="col-md-6">
      <div class="element">
        <div class="row">
          <div class="col">
            <span>Mot de passe</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="password"
              class="form-control"
              placeholder="Mot de passe"
            />
          </div>
        </div>

        <div class="row">
          <div class="col">
            <span>Societé*</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="societe" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>Numero de telephone*</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Numero de telephone"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6" *ngIf="parametre">
        <div class="element">
          <div class="row">
            <div class="col">
              <span>Nom entreprise *</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" id="companyName" class="form-control" placeholder="Phone Number" />
            </div>
          </div>
            <div class="row">
              <div class="col">
                <span>Nom entreprise mère</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" id="companyParent" class="form-control" placeholder="Nom entreprise mère" />
              </div>
            </div>
             <div class="row">
            <div class="col">
              <span>Mot de passe*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" placeholder="Mot de passe"  />
            </div>
          </div> 
        </div>
      </div> -->
  </div>


  <!--   
    <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top: 1%; margin-left: 8%; margin-right: 50%" role="alert">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="successMessage" class="alert alert-success" style="margin-top: 2%; margin-left: 8%; margin-right: 39%" role="alert">
      {{ successMessage }}
    </div> -->

  <hr style="margin-top: 15%; margin-left: 8%; margin-right: 8%" />
  <div class="row" style="margin-left: 7%; margin-top: 6%; margin-bottom: 5%">
    <div class="col">
      <button (click)="goToListExpert()">Annuler</button>
    </div>
    <div class="col" style="padding-left: 55%">
      <button (click)="goToListExpert()">Ajouter</button>
    </div>
    <!-- <div class="col" *ngIf="parametre" style="padding-left: 55%;">
          <button (click)="updateClient()">Modifier</button>
      </div> -->
  </div>
</section>
