
<div class="row">
    <div class="title">
      <h1>Liste des Directeurs</h1>
    </div>
      <button class="btn-add"  data-name="editClient" >Ajouter un directeur</button> 
</div>

<section class="custom-section">
    <form>
        <input
          name="directeurDtata"
          class="filter"
          type="text"
          [(ngModel)]="searchQuery" (input)="applyFilter()"
          placeholder="Filtrer par domaine nom,premon, nom, email"
        />
        <button class="btn-Appliquer" type="button">Appliquer</button>
      </form>

      <table class="table table-striped" style="width: 98%; margin-top: 25px; margin-left: 2%">
        <thead sorted responsive class="">
          <tr>
              <th>Nom | Prenom </th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Contrat</th>
              <th></th>
          </tr>
        </thead>
        <tbody>

             <ng-container *ngIf="filterDirecteur.length > 0; else noResults">
              <tr *ngFor="let director of filterDirecteur">
                <td>{{director.name_directeur}} {{director.lastname_directeur}}</td>
                <td>{{ director.email}}</td>
                <td>{{ director.telephone }}</td>
                <td><a href=""> 1 contrat</a> </td>
                <td
                  style="
                    text-align: right;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                  "
                >
                  <i
                    class="fas fa-pen"
                    style="
                      font-size: 24px;
                      color: rgb(55, 156, 196);
                      margin-right: 10px;
                      padding: 10px;
                    "
                    (click)="goToCreateDirector($event)"
                    [attr.data-name] = "'editDirecteur'"
                    [attr.data-name]="'editDirecteur'"
                    [attr.data-name]="director.name_directeur"
                    [attr.data-id]="director.id_directeur"
                    [attr.data-lastname]="director.lastname_directeur"
                    [attr.data-company]="director.company"
                    [attr.data-telephone]="director.telephone"

                    data-bs-toggle="modal"
                  ></i>
                  <i
                  (click)="modalDirecteur(director.name, director.lastname, director.id_directeur)"

                    class="far fa-trash-alt"
                    data-bs-toggle="modal" data-bs-target="#btnSupprimer"
                    style="font-size: 24px; color: rgb(55, 156, 196)"
                  ></i>
                </td>
              </tr>
            </ng-container>
            <!-- Afficher un message si aucune correspondance n'est trouvée -->
            <ng-template #noResults>
              <tr *ngFor="let item of director">
                <td>{{item.name_directeur}} {{ item.lastname_directeur }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.telephone }}</td>
                <td><a href=""> 1 contrat </a></td>
                <td
                  style="
                    text-align: right;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                  "
                >
                  <i
                    class="fas fa-pen"
                    style="
                      font-size: 24px;
                      color: rgb(55, 156, 196);
                      margin-right: 10px;
                      padding: 10px;
                    "

                    (click)="goToCreateDirector($event)"
                    [attr.data-name]="'editDirecteur'"
                    [attr.data-code]="item.name_directeur"
                    [attr.data-email]="item.email"
                    [attr.data-id]="item.id_directeur"
                    [attr.data-lastname]="item.lastname_directeur"
                    [attr.data-company]="item.company"
                    [attr.data-telephone]="item.telephone"

                    data-bs-toggle="modal"
                  ></i>
                  <i
                  (click)="modalDirecteur(item.name_directeur, item.lastname_directeur, item.id_directeur)"
                    class="far fa-trash-alt"
                    data-bs-toggle="modal" data-bs-target="#btnSupprimer"
                    style="font-size: 24px; color: rgb(55, 156, 196)"
                  ></i>
                </td>
              </tr> 
            </ng-template>
  
          </tbody>
      </table>

</section>

<div>
  <div class="overlay" tabindex="-1">
    <div class="modal-dialog modaldelete">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" (click)="closeModalDirecteur()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="iddelete">
          <p>Voulez-vous vraiment supprimer ce directeur? ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeModalDirecteur()"  class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" (click)="deleteDirecteur()" class="btn btn-primary">supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>

