<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<div class="row">
  <div class="title">
    <h1>Liste des familles</h1>
  </div>
    <button class="btn-add" (click)="goToAddFamille()">Ajouter une famille</button>

</div>

<section class="custom-section">
  <form>
    <input
      [(ngModel)]="famillyName"
      name="famillyName"
      (keyup.enter)="searchFamillyByName()"
      class="filter"
      type="text"
      placeholder="Filtrer par nom de famille"
    />
    <button class="btn-Appliquer" type="button" (click)="searchFamillyByName()">Appliquer</button>
  </form>
  <table class="table table-striped" style="width: 98%; margin-top: 25px; margin-left: 2%">
    <thead sorted responsive class="">
      <tr>
        <th>Nom</th>
      </tr>
    </thead>
    <tbody>

      <!-- affiche le resultat de la requete lorsqu'on effectue une recherche et l'affiche dans la directive ng-container -->
      <ng-container *ngIf="searchResults && searchResults.length > 0; else showAllResults">
        <tr *ngFor="let name of searchResults">
          <td scope="row">{{ name }}</td>
          <td
            style="
              text-align: right;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            "
          >
          
            <i 
              class="fas fa-pen"
              style="
                font-size: 24px;
                color: rgb(55, 156, 196);
                margin-right: 10px;
                padding: 10px;
              "
              data-bs-toggle="modal"
            ></i>
            <i
              class="far fa-trash-alt"
              data-bs-toggle="modal" data-bs-target="#btnSupprimer"
              style="font-size: 24px; color: rgb(55, 156, 196)"
            ></i>
          </td>
        </tr>
      </ng-container>
<!-- affiche tous les resultats lorsque la recherche n'a pas été effectué ou retourne aucun element -->
      <ng-template #showAllResults>
        <tr *ngFor="let item of contrats">
          <td scope="row">{{ item.name }}</td>
          <td
            style="
              text-align: right;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            "
          >
            <i
              class="fas fa-pen"
              (click)="goToCreateFamille( item.id, item.name )"
              style="
                font-size: 24px;
                color: rgb(55, 156, 196);
                margin-right: 10px;
                padding: 10px;
              "
              data-bs-toggle="modal"
            ></i>
            <i
              class="far fa-trash-alt"
              id="btnSupprimer"
              (click)="modaleFamille( item.name )"
              style="font-size: 24px; color: rgb(55, 156, 196)"
            ></i>
          </td>
        </tr>
      </ng-template>

    </tbody>
  </table>
</section>


<!-- Modal -->
<div>
  <div class="overlay" tabindex="-1">
    <div class="modal-dialog modaldelete">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

 
