 <!-- <div>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo center">App Contrat</a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>  -->
<div class="contentbody">
    <div class="navbarcontent">
        <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
    </div>
    <div class="maincontent">
        <div class="allcontent">
            <div class="headercontent">
                <div class="headercontenttitle">
                    <div class="titleheader" (click)="toggleVisibility()">Jean - Michel</div>
                </div>
                <div class="contentdisconn">
                    <div *ngIf="isVisible" class="contentdisconnbtn">
                        <button type="button">Déconnexion</button>
                    </div>
                </div>
            </div>
            <app-body>
                [collapsed]="isSideNavCollapsed"
                [screenWidth] = "screenWidth"
            </app-body>
            <div class="footercontent">
                <div class="footercontenttitle">
                    <div class="titlefooter">© AREXA 2020</div>
                </div>
            </div>
        </div>
    </div>    
</div>


