<div class="title">
  <h1>Ajouter une famille</h1>
</div>
<section class="container">
  <div class="row" style="margin-right: 55%">
    <div class="col" style="padding-left: 20%">
      <div class="select" style="width: 100%">
        <span>Lettre *</span>
        <select class="form-select" aria-label="multiple select example ">
          <option selected>A</option>
          <option value="1">B</option>
          <option value="2">C</option>
          <option value="3">D</option>
          <option value="3">E</option>
          <option value="3">F</option>
          <option value="3">G</option>
          <option value="3">H</option>
          <option value="3">I</option>
          <option value="3">J</option>
          <option value="3">K</option>
          <option value="3">L</option>
          <option value="3">M</option>
          <option value="3">N</option>
          <option value="3">O</option>
          <option value="3">P</option>
          <option value="3">Q</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <span>Famille</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" style="width: 200%" />
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 25%; margin-left: 8%; margin-right: 8%" />

  <div class="row" style="margin-left: 7%; margin-top: 6%; margin-bottom: 5%;">
    <div class="col">
        <button (click)="goToListFamille()">Annuler</button>
    </div>
    <div class="col" style="padding-left: 55%;">
        <button (click)="goToListFamille()">Ajouter</button>
    </div>
</div>

</section>
