<div class="title">
    <h1 class="titrePage">Ajouter un Client</h1>
</div>
  
  <section class="container">
    <div class="row">
      <!-- Bloc à gauche -->
      <div class="col-md-6">
        <div *ngIf="!parametre" class="element">
          <div class="row">
            <div class="col">
              <span>Code Client*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Code Client" [(ngModel)]="code_client" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>Domaine d'activité*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Domaine" [(ngModel)]="business_area" />
            </div>
          </div>
        </div>
        <div *ngIf="parametre" class="element">
          <input type="hidden" id="idClient" [value]="parametreId">
          <div class="row">
            <div class="col">
              <span>Code CLient*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" id="codeClient" class="form-control" placeholder="Code Client" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>Domaine d'activité*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" id="businessArea" class="form-control" placeholder="Domaine d'activité" />
            </div>
          </div>
        </div>
      </div>
  
      <!-- Bloc à droite -->
      <div class="col-md-6" *ngIf="!parametre">
        <div class="element">
          <div class="row">
            <div class="col">
              <span>Nom entreprise*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom entreprise" [(ngModel)]="company_name"/>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <span>Nom de l'entreprise mère</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom entreprise mère" [(ngModel)]="parent_company_name" />
            </div>
          </div>
          <!-- <div class="row">
            <div class="col">
              <span>Mot de passe*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" placeholder="Mot de passe"  />
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-6" *ngIf="parametre">
        <div class="element">
          <div class="row">
            <div class="col">
              <span>Nom entreprise *</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" id="companyName" class="form-control" placeholder="Phone Number" />
            </div>
          </div>
            <div class="row">
              <div class="col">
                <span>Nom entreprise mère</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" id="companyParent" class="form-control" placeholder="Nom entreprise mère" />
              </div>
            </div>
          <!-- <div class="row">
            <div class="col">
              <span>Mot de passe*</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" placeholder="Mot de passe"  />
            </div>
          </div> -->
        </div>
      </div>
    </div>
  
    <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top: 1%; margin-left: 8%; margin-right: 50%" role="alert">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="successMessage" class="alert alert-success" style="margin-top: 2%; margin-left: 8%; margin-right: 39%" role="alert">
      {{ successMessage }}
    </div>
  
    <hr style=" margin-left: 8%; margin-right: 8%" />
    <div class="row" style="margin-left: 7%; margin-top: 3%; margin-bottom: 2%;">
        <div class="col">
            <button (click)="goToListclient()">Annuler</button>
        </div>
        <div class="col" *ngIf="!parametre" style="padding-left: 55%;">
            <button (click)="createClient()">Ajouter</button>
       </div>
       <div class="col" *ngIf="parametre" style="padding-left: 55%;">
          <button (click)="updateClient()">Modifier</button>
      </div>
    </div>

  </section>
  