
<div class="row">
    <div class="title">
      <h1>Liste des experts</h1>
    </div>
      <button class="btn-add" data-name="editAdmin" (click)="goToCreateExpert()">Ajouter un expert</button> 
</div>

<section class="custom-section">
    <form>
      <input
        
        name="adminData"
        class="filter"
        type="text"
        placeholder="Filtrer par nom,prenom,expertise"
      />
      <button class="btn-Appliquer" type="button">Appliquer</button>
    </form>
    <table class="table table-striped" style="width: 98%; margin-top: 25px; margin-left: 2%">
      <thead sorted responsive class="">
        <tr>
            <th>Nom | Prenom</th>
            <th>Expertise</th>
            <th>Email</th>
            <th>Contrat</th>
        </tr>
      </thead>
      <tbody>
           <ng-container>
            <tr *ngFor="let item of expert">
              <td><span (click)="DetailExpert($event)" class="spanpointer" [attr.data-id]="item.Id_expertise" [attr.data-name]="item.name_expert" [attr.data-Prenon]="item.lastname" [attr.data-Expertise]="item.expertise" [attr.data-Email]="item.email" [attr.data-Telephone]="item.telephone"  style="color: rgb(55, 156, 196);">{{item.name_expert}} {{item.lastname}}</span></td>
              <td>{{item.expertise}}</td>
              <td>{{item.email}}</td>
              <td><span style="color: rgb(55, 156, 196);cursor: pointer;" (click)="modalDirecteur()">1 contrat</span></td>
              <td
                style="
                  text-align: right;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                ">
                <i
                  class="fas fa-pen"
                  style="
                    font-size: 24px;
                    color: rgb(55, 156, 196);
                    margin-right: 10px;
                    padding: 10px; "
                  data-bs-toggle="modal"
                ></i>
                <i
                  class="far fa-trash-alt"
                  data-bs-toggle="modal" data-bs-target="#btnSupprimer"
                  style="font-size: 24px; color: rgb(55, 156, 196)"
                ></i>
              </td>
            </tr>
           </ng-container>
          <!-- Afficher un message si aucune correspondance n'est trouvée -->
          <!-- <ng-template #noResults>
            <tr>
              <td scope="row">{{ item.firstname }} {{ item.lastname}}</td>
              <td scope="row">{{ item.email}}</td>
              <td scope="row">{{ item.phoneNumber}}</td>
              <td
                style="
                  text-align: right;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                "
              >
                <i
                  class="fas fa-pen"
                  style="
                    font-size: 24px;
                    color: rgb(55, 156, 196);
                    margin-right: 10px;
                    padding: 10px;
                  "
                  (click)="goToCreateAdmin($event)"
                  [attr.data-name]="'editAdmin'"
                  [attr.data-first]="item.firstname"
                  [attr.data-id]="item.idAdmin"
                  [attr.data-email]="item.email"
                  [attr.data-phone]="item.phoneNumber"
                  [attr.data-last]="item.lastname"
                  data-bs-toggle="modal"
                ></i>
                <i
                  *ngIf="admin && admin.length > 1"
                  (click)="modaleAdmin( item.firstname, item.lastname, item.idAdmin )"
                  class="far fa-trash-alt"
                  data-bs-toggle="modal" data-bs-target="#btnSupprimer"
                  style="font-size: 24px; color: rgb(55, 156, 196)"
                ></i>
              </td>
            </tr> 
          </ng-template> -->

        </tbody>
    </table>
</section>     
<app-expert-details *ngIf="selectedExpert" [expert]="selectedExpert"></app-expert-details>

<!-- Modal -->
<div>
  <div class="overlay" tabindex="-1">
    <div class="modal-dialog modaldelete">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 2px solid #c8c2c2; padding-bottom: 1rem;">
          <h5 class="modal-title">Name User</h5>
          <button type="button" class="btn-close" (click)="closeModalDirecteur()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin-bottom: 3rem;">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Numero Contrat</th>
                  <th scope="col">Client</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModalDirecteur()" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>